*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Montserrat';
    src: url(font/Montserrat-ExtraBold.otf);
}
@font-face {
    font-family: 'cocogoose';
    src: url(font/Cocogoose\ Pro\ Italic-trial.ttf);
}
@font-face {
    font-family: 'cambria';
    src: url(font/Cambria-Font-For\ Android.ttf);
}

h2,h3{
    font-family: 'cocogoose', sans-serif;

}

h1{
    font-family: 'Montserrat', sans-serif;

}

p{
    font-family: 'cambria', sans-serif;

}
.logo{
    max-width:300px ;
    min-width: 250px;
    max-height:50px ;
    min-width: 80px;
}
span{
    font-weight: bolder;
    color:#3C6EDD;
}


#reseau li .fa-brands{
    font-size:x-large;
}

 .service{
    margin: 0 auto !important;
    text-align: center;
}

#work h2{
    text-align: center;
    background-color: #3C6EDD;
    color: white;
    padding: 5px;
    margin: 10px;
}
