@font-face {
    font-family: 'Montserrat';
    src: url(font/Montserrat-ExtraBold.otf);
}
@font-face {
    font-family: 'cocogoose';
    src: url(font/Cocogoose\ Pro\ Italic-trial.ttf);
}
@font-face {
    font-family: 'cambria';
    src: url(font/Cambria-Font-For\ Android.ttf);
}
h2{
    font-family: 'cocogoose', sans-serif;

}
h1{
    font-family: 'Montserrat', sans-serif;

}
p{
    font-family: 'cambria', sans-serif;

}
.logo{
    max-width:200px ;
    min-width: 100px;
    max-height:50px ;
    min-width: 80px;
}

span{
    font-weight: bolder;
    color: blue;
}
i{
    font-size: 100px;
}
#work h2{
    text-align: center;
    background-color: blue;
    color: white;
    padding: 5px;
    margin: 10px;
}
#work div img{
    
}